body {
    background: #dff3ff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #ffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

img {
    width: 200px;
    margin: 10px;
    
}